<!DOCTYPE html>
<html>
<head>
    <title>NVIDIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing_page/styles.css') }}">
</head>
<body>
    <div>
        <h1 class="title">PHY LOGGER</h1>
        <div class="button-container">
            <button class="button" onclick="window.location.href='{{url_for('get_logs')}}'">Go to Logs</button>
            <button class="button" onclick="window.location.href='{{url_for('generator_page')}}'">Go to Log Generator</button>
            <button class="button" id="configureDeviceButton">Configure Device</button>
        </div>
    </div>
    <div id="configureDeviceForm" style="display: none;">
        <form action="{{url_for('start_device')}}"  method="POST">
            <div>
            {{ start_device_form.device_id.label }} {{ start_device_form.device_id }}
            </div>
            <div>
            {{ start_device_form.submit }}
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='landing_page/scripts.js') }}"></script>
</body>
</html>