<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='log_viewer/styles.css') }}">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Viewer</title>
</head>

<body>
    <h1>Ultimate Log Viewer</h1>
    <div class="table-scrollable">
        <table id="logTable">
            <thead>
                <tr>
                    <th data-name="timestamp"class="timestamp">Timestamp</th>
                    <th data-name="file"class="source">Source</th>
                    <th data-name="src_function_name"class="function">Function</th>
                    <th data-name="level"class="level">Level</th>
                    <th data-name="msg"class="message">Message</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input data-name="file" type="text" id="file-filter" class="column-filter" data-column="1"></th>
                    <th><input data-name="src_function_name" type="text" id="src_function_name-filter" class="column-filter" data-column="2"></th>
                    <th><input data-name="level" type="text" id="level-filter" class="column-filter" data-column="3"></th>
                    <th><input type="text" id="msg-filter" placeholder="Filter by message">
                        <button id="apply-filter">Apply Filter</button> <!-- Added filter button -->
                    </th> <!-- Filter for msg column -->
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.file }}:{{ log.line }}</td>
                    <td>{{ log.src_function_name }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.msg }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='log_viewer/scripts.js') }}"></script>
</body>

</html>