<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.13.7/features/searchHighlight/dataTables.searchHighlight.css"  type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='log_viewer/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.4.0/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.rawgit.com/alvaro-prieto/colResizable/master/colResizable-1.6.min.js"></script>
    <script src="https://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.7/features/searchHighlight/dataTables.searchHighlight.min.js"></script>
    <title>Log Viewer</title>
</head>

<body>
    <h1>Ultimate Log Viewer</h1>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2 bg-light border-right" id="sidebar">

                <h2>Log Levels</h2>
                <select id="logLevel" name="logLevel">
                    <option value="LOG_DEBUG">LOG_DEBUG</option>
                    <option value="LOG_INFO">LOG_INFO</option>
                    <option value="LOG_WARNING">LOG_WARNING</option>
                    <option value="LOG_ERROR">LOG_ERROR</option>
                </select>

                <hr>  <!-- Separator line -->

                <h2>Log Groups</h2>
                <div>
                    <input type="checkbox" id="toggleAll" name="toggleAll" value="toggleAll">
                    <label for="toggleAll" class="toggle-label">Toggle All</label>
                </div>
                <!-- Add a checkbox for each log group -->
                {% for log_group in log_groups %}
                    <div>
                        <input type="checkbox" id="{{ log_group.name }}" name="{{ log_group.name }}" value="{{ log_group.value }}" checked>
                        <label for="{{ log_group.name }}">{{ log_group.name }}</label>
                    </div>
                {% endfor %}

                <hr>  <!-- Separator line -->

                <!-- Add a button -->
                <button class="button" id="sidebarButton">Send to Device</button>

                <hr>  <!-- Separator line -->

            </div>

    <div class="col-10">
        <div class="table-scrollable">
            <table id="logTable" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th data-name="timestamp"class="timestamp">Timestamp</th>
                        <th data-name="file"class="source">Source</th>
                        <th data-name="src_function_name"class="function">Function</th>
                        <th data-name="level"class="level">Level</th>
                        <th data-name="log_group"class="log-group">Group</th>
                        <th data-name="msg"class="message">Message</th>
                    </tr>
                    <!-- <tr>
                        <th></th>
                        <th><div class="input-group mb-3">
                            <input data-name="file" type="text" id="file-filter" class="form-control column-filter" data-column="1" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">x</button>
                        </div></th>
                        <th><input data-name="file" type="text" id="file-filter" class="column-filter" data-column="1"></th>
                        <th><input data-name="src_function_name" type="text" id="src_function_name-filter" class="column-filter" data-column="2"></th>
                        <th><input data-name="level" type="text" id="level-filter" class="column-filter" data-column="3"></th>
                        <th><input data-name="log_group" type="text" id="log_group-filter" class="column-filter" data-column="4"></th>
                        <th><input type="text" id="msg-filter" placeholder="Filter by message">
                            <button id="apply-filter">Apply Filter</button>
                        </th> 
                    </tr> -->
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.file }}:{{ log.line }}</td>
                        <td>{{ log.src_function_name }}</td>
                        <td>{{ log.level }}</td>
                        <td>{{ log.log_group.name }}</td>
                        <td>{{ log.msg }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='log_viewer/scripts.js') }}"></script>
</body>

</html>