<!DOCTYPE html>
<html>
<head>
    <title>Log Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='log_generator/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Log Generator</h1>
        <form method="POST">
            <h2>Generator Configurations</h2>
            <div class="form-group">
                {{ log_generator_form.csrf_token }}
                {{ log_generator_form.num_of_logs.label }} 
                {{ log_generator_form.num_of_logs }}
            </div>
            <div class="form-group">
                {{ log_generator_form.delay_betweeen_logs.label }}
                {{ log_generator_form.delay_betweeen_logs }}
            </div>
            <div class="form-submit">
                {{ log_generator_form.submit }}
            </div>
        </form>
    <div class="button-container">
        <a class="button" href="{{url_for('index')}}">Back</a>
    </div>
        <!-- <h2>Load Existing Log File</h2>
        <form id="uploadForm">
            <div class="form-group">
                <input type="file" id="logFile" name="logFile">
            </div>
            <button type="button" class="generator-button" onclick="uploadLogs()">Upload Logs</button>
        </form> -->
    </div>

    <script src="{{ url_for('static', filename='log_generator/scripts.js') }}"></script>
</body>
</html>